<% if session.key?("last_err") %>
	<%= session["last_err"] %>
	<% session.delete("last_err") %>
<% end %>

<form action="/application/create" method="post">
	Application name: <input type="text" name="name" /> <br/>
	<input type="submit" value="Create" />
</form>
