<div class="alert-message block-message warning">
	<strong>Caution - Under development</strong> The API signatures could still change since Shift is still under heavy development
</div>

<ul class="tabs">
	<li><a href="/doc/rest">REST</a></li>
	<li class="active"><a href="/doc/android">Android</a></li>
</ul>

<div class="row">
	<div class="span3">
		<ul class="unstyled">
			<li><a href="/doc/com/shiftapi/library/android/Shift.html" target="doc">Shift</a></li> 
			<li><a href="/doc/com/shiftapi/library/android/ShiftDoc.html" target="doc">ShiftDoc</a></li> 
		</ul>

		<ul class="unstyled" style="margin-top: 15px;">
			<li><a href="/doc/com/shiftapi/library/android/listener/DeleteListener.html" target="doc">DeleteListener</a></li> 
			<li><a href="/doc/com/shiftapi/library/android/listener/QueryListener.html" target="doc">QueryListener</a></li> 
			<li><a href="/doc/com/shiftapi/library/android/listener/SaveListener.html" target="doc">SaveListener</a></li> 
		</ul>
	</div>

	<div class="span13">
		<iframe name="doc" src="/doc/com/shiftapi/library/android/ShiftDoc.html" width="100%" height="100%">
			<p>Browser does not support this</p>
		</iframe>
	</div>
</div>
