<div class="alert-message block-message warning">
	<strong>Under construction</strong> Come back a few days from now for more information.
</div>

<div class="row">
	<div class="span10 page-header">

		<h1>Features</h1>

		<ul style="padding-left: 20px;">
			<li><h3>Pre-made backend for developers ease</h3></li>
			<li><h3>Creates data stores for each application</h3></li>
			<li><h3>Built-in application user accounts</h3></li>
			<li><h3>Pre-integrated social networks</h3></li>
			<li><h3>Affordable for even the smallest developer</h3></li>
		</ul>

	</div>
</div>
