<div class="row">
	<div class="span10 page-header">

		<h1>Backends Made Easy <small>for developers like you</small></h1>

		<ul style="padding-left: 20px;">
			<li><h3>Pre-made backend for developers ease</h3></li>
			<li><h3>Creates data stores for each application</h3></li>
			<li><h3>Built-in application user accounts</h3></li>
			<li><h3>Pre-integrated social networks</h3></li>
			<li><h3>Affordable for even the smallest developer</h3></li>
		</ul>

	</div>

	<div class="span6">
		<% if session.key?("last_err") %>
			<div class="alert-message error fade in" data-alert="alert">
				<a class="close" href="#">&times;</a>
				<p>
					<%= session["last_err"] %>
				</p>
			</div>
			<% session.delete("last_err") %>
		<% end %>

		<form action="/login" method="post" class="form-stacked">
			<fieldset>
				<legend>Log In</legend>
				<div class="clearfix"> 
					<label for="email">Email</label> 
					<div class="input"> 
						<input class="xlarge" id="email" name="email" size="30" type="text" /> 
					</div> 
				</div>

				<div class="clearfix"> 
					<label for="password">Password</label> 
					<div class="input"> 
						<input class="xlarge" id="password" name="password" size="30" type="password" /> 
					</div> 
				</div>

				<div class="actions"> 
					<input type="submit" class="btn primary" value="Login">
				</div>

			</fieldset>
		</form>

		<p>Want to start Shift-ing? <a href="/user/register">Register here</a></p>
	</div>
</div>
