<% if session.key?("last_err") %>
	<%= session["last_err"] %>
	<% session.delete("last_err") %>
<% end %>

<form action="/register" method="post" class="form-stacked">
	<fieldset>
		<legend>Register</legend>
		<div class="clearfix"> 
			<label for="email">Email</label> 
			<div class="input"> 
				<input class="xlarge" id="email" name="email" size="30" type="text" /> 
			</div> 
		</div>

		<div class="clearfix"> 
			<label for="password">Password</label> 
			<div class="input"> 
				<input class="xlarge" id="password" name="password" size="30" type="password" /> 
			</div> 
		</div>

		<div class="actions"> 
			<input type="submit" class="btn primary" value="Register">
		</div>

	</fieldset>
</form>
